
.page_ctrl {
    margin: 10px auto;
    box-sizing: border-box;
    position: fixed;
    bottom: 22px;
    right: 1.5rem;

}
.page_ctrl * {
    line-height: 26px;
    background: #fff;
}

.page_ctrl button {
    margin: 0 3px;
    min-width: 30px;
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #5e5e5e;
    cursor: pointer;
    outline: 0;
    text-align: center
}

.page_ctrl button:hover {
    background: #1E9FFF;
    color: #fff
}

.page_ctrl .btn_dis {
    cursor: default;
    opacity: .7;
    background: #eee;
    color: #5e5e5e
}

.page_ctrl .btn_dis:hover {
    background: #eee;
    color: #5e5e5e
}

.page_ctrl .current_page {
    background: #1E9FFF;
    color: #fff
}

.page_ctrl .input_page_num {
    width: 30px;
    height: 26px;
    margin: 0 3px;
    padding: 0;
    text-align: center;
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #5e5e5e;
    outline: 0
}

.page_ctrl .page_total, .page_ctrl .page_text {
    color: #2b2b2b;
    font-size: 13px
}
.selected-box{
    height: 26px;
    margin: 0 3px;
    padding: 0;
    text-align: center;
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #5e5e5e;
    outline: 0;
}